{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block body %}

<div class="flex flex-column flex-center gap-small">
        <h2>Log In</h2>
        <form class ="flex flex-column flex-center" method="post" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
              {{ form.username.label }} {{ form.username(size=32) }}
              {{ form.password.label }}  {{ form.password(size=32) }}
                
              <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
              {{ form.submit(class="button") }}
        </form>
        <br>
        <a href="{{ url_for('auth.register') }}">Register</a>
</div>






{% endblock %}
